:root {
  --active-color: rgb(62, 109, 145);
  --box-shadow-bottom: 6px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Roboto, sans-serif;
}
main {
  overflow: hidden;
  padding: 1rem;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}
button {
  border: 0;
  background: 0;
}
